/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #3d84a8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
